body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddfe1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-container {
  padding: 1rem 1rem;
  margin-top: 0rem;
}

.div-container-logo {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: .25rem;
}

.div-logo {
  display: flex;
  justify-content: center;
  height: 9rem;
  width: 9rem;
  border-radius: 10px;
  background-color: white;
  padding: 0;
  border: 1px solid white;
}

.div-menu-lateral-padre {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  background-color: rgba(92, 92, 92, 0.7);
}

.div-menu-lateral-padre.active {
  display: block;
  z-index: 2;
}

.div-menu-lateral {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  border-radius: 0rem;
}

.div-dashboard-container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-dashboard-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
}

.div-dashboard-info-padre {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-dashboard-header-busqueda-padre {
  position: relative;
}

.div-dashboard-header-busqueda {
  position: fixed;
  left: 0;
  right: 0;
  top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: #dddfe1;
  z-index: 1;
}

.div-dashboard-content {
  overflow: auto;
  margin-top: 3.25rem;
}

.div-dashboard-logo {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  background-color: white;
  padding: 0;
  border: 1px solid white;
}

.img-logo-idelpan {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.div-style-form {
  margin-top: 1rem;
  background-color: white;
  padding: 10px;
  border-radius: .25rem;
}

.div-dasboard-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dasboard-icon {
  font-size: 4rem;
}

.dasboard-icon-header-busqueda {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.dasboard-icon-header-menu {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.div-p-label-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.p-label-form {
  font-size: 15px;
  color: #5C5C5C;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 15px;
}

.div-buttom-registra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 100%;
}

.bottom-custom {
  width: 10rem;
  background-color: orange;
  color: white;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 5px 0px;
  margin: 0rem 1rem;
}

.bottom-custom:hover {
  width: 10rem;
  background-color: #E3E3E3;
  color: #5C5C5C;
  border: 1px solid #E3E3E3;
  margin: 0rem 1rem;
}

.bottom-custom-secondary {
  width: 10rem;
  background-color: #5C5C5C;
  color: white;
  border: 1px solid #5C5C5C;
  border-radius: 20px;
  padding: 5px 0px;
  margin: 0rem 1rem;
}

.bottom-custom-secondary:hover {
  width: 10rem;
  background-color: #E3E3E3;
  color: #5C5C5C;
  border: 1px solid #E3E3E3;
  margin: 0rem 1rem;
}

.a-link-login {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.a-link-login:hover {
  color: orange;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.form-control-error {
  border: 1px solid red;
}

.form-imput-busqueda {
  border-radius: 0.50rem;
  padding: 12px;
}

.a-dasboard-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.a-dasboard-link:hover {
  color: orange;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.a-link-whit-icon {
  display: flex;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 5px 5px 5px;
}

.a-link-whit-icon:hover {
  display: flex;
  color: orange;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 5px 5px 5px;
}

.div-lista-produtos {
  height: 25rem;
  overflow: auto;
  padding: 0px 10px;
}

.div-item-produto {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.a-link-whit-icon-2 {
  display: flex;
  align-items: center;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 0px 0px 5px;
}

.a-link-whit-icon-2:hover {
  display: flex;
  align-items: center;
  color: orange;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 0px 0px 5px;
}

.div-form-tipo-compra {
  display: flex;
  justify-content: space-between;
}

.div-header-list-op-1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.div-header-list-op-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.div-card-padre {
  display: flex;
  justify-content: center;
  align-content: center;
}

.div-card-img {
  position: relative;
  max-width: 13rem;
  width: 13rem;
}

.div-card-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.icon-agrega-carrito {
  cursor: pointer;
  font-size: 1.5rem;
  color: orange;
  background-color: #333333;
  border-radius: 15px;
}

.icon-cierra {
  cursor: pointer;
  font-size: 1.2rem;
  color: #333333;
  border-radius: 15px;
}

.card-img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 7rem;
  cursor: pointer;
}

.div-card-info {
  font-size: 13px;
  background-color: #dddfe1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  border-radius: 0px 0px 10px 10px;
}

.card-info-nombre {
  font-weight: bold;
  padding: 0;
  margin: 0px 0px;
}

.div-card-info-txt {
  display: flex;
  justify-content: space-between;
}

.card-info-txt {
  padding: 0;
  margin: 2px 0px;
}

.card-info-txt-2 {
  font-weight: bold;
  padding: 0;
  margin: 2px 0px;
}

.div-item-menu {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 4px 0px 4px 12px;
  margin: 4px 0px 4px 0px;
}

.div-item-menu.active:before {
  position: absolute;
  content: '';
  left: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: transparent solid 19px;
  border-left-color: white;
}

.icon-menu-lateral {
  margin: 0px 12px 0px 8px;
}

.div-valida-carrito {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column
}

@media (min-width: 760px) {}


@media (min-width: 1025px) {

  .div-dashboard-content {
    position: relative;
    margin-top: 0rem;
  }

  .div-dashboard-header-busqueda {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .dasboard-icon-header-menu {
    display: none;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .div-menu-lateral-padre {
    display: block;
    position: relative;
    background: none;
  }

  .div-menu-lateral {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-radius: .25rem;
    margin-bottom: 1rem;
  }

  .div-style-form {
    margin-top: 1rem;
    background-color: white;
    padding: 20px;
    border-radius: .25rem;
  }

}